body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(89deg, #C9D6FF 0%, #E2E2E2 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
